<div class="row">
    <div class="panel panel-inverse panel-comment">
      <div class="panel-body panel-body-inverse">
        <%= placeholdit_image_tag "40" %>
        <% username = User.find(comment.user_id).username %>
        <div class="panel-comment-text">
            <p>
                <%= link_to username, user_path(username) %> <%= comment.body %>
            </p>
            <small>
                <%=link_to "<i class='fa fa-heart'></i>".html_safe, like_comment_path(comment), method: :put %>
                <%=link_to "<i class='fa fa-bomb'></i>".html_safe, dislike_comment_path(comment), method: :put %>
                <%= time_ago_in_words(comment.created_at) %> ago. | <%= comment.get_likes.size %> likes | <%= comment.get_dislikes.size %> bombs
            </small>
        </div>
      </div>
    </div>
</div>
