<div class="modal fade" id='<%= "myModal_#{post.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render partial: 'posts/edit_modal', locals: {post: post} %>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <div class="panel panel-inverse panel-post">
      <%= image_tag(user.avatar.post_avatar) %>


      <div class="panel-heading panel-heading-inverse">
        <%= link_to user.username, user_path(user.username) %> <%= link_to "posted this #{time_ago_in_words(post.created_at)} ago", post_path(post) %>
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-cog"></i></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit Post", "#", "data-target": "#myModal_#{post.id}", "data-toggle": "modal" %></li>
            <li><%= link_to "Delete Post", post_path(post), method: :delete, class: 'navbar-link', data: {confirm: "Are you sure?"} %></li>
          </ul>
        </div>
      </div>
      <div class="panel-body panel-body-inverse panel-body-post">
        <div class="text-area">
          <%= post.body %>
        </div>
      </div>
    </div>
      <div class="panel-footer panel-footer-inverse panel-footer-post">
        <%= link_to "<i class='fa fa-2x fa-heart'></i>".html_safe, like_post_path(post), method: :put %>
        <%= post.get_likes.size - post.get_dislikes.size %>
        <%= link_to "<i class='fa fa-2x fa-bomb'></i>".html_safe, dislike_post_path(post), method: :put %>
      </div>
      <div class="panel-footer panel-footer-inverse panel-footer-votes">
        <% if post.get_likes.size != 0 %>
          <p>Your post has been Liked by <%= post.get_likes.size %> people</p>
        <% end %>

        <% if post.get_dislikes.size != 0 %>
          <p>Your post has been Bombed by <%= post.get_dislikes.size %> people</p>
        <% end %>
      </div>




      <div class="panel-group panel-group-comments">
        <div class="panel-heading panel-heading-inverse">
          <%= render partial: 'comments/form', locals: {post: post, user: current_user} %>
          <%= render partial: 'comments/comment', collection: post.comments %>
        </div>


        <div class="panel-footer panel-footer-inverse">
          "read more" link here
        </div>
      </div>



  </div>
</div>
