<div class="row">
  <div class="col-md-offset-1">
    <div class="panel panel-inverse">
      <%= placeholdit_image_tag "100" %>

      <div class="panel-heading panel-heading-inverse">
        <%= post.user.username %> posted this <%= time_ago_in_words(post.created_at) %> ago
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-cog"></i></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit Post", "#", "data-target": "#myModal_#{post.id}", "data-toggle": "modal" %></li>
            <li><%= link_to "Delete Post", user_post_path(post.user, post), method: :delete, class: 'navbar-link', data: {confirm: "Are you sure?"} %></li>
          </ul>
        </div>
      </div>
      <div class="panel-body panel-body-inverse panel-body-post">
        <div class="text-area">
          <%= post.body %>
        </div>
      </div>
    </div>
      <div class="panel-footer panel-footer-inverse panel-footer-post">
        <%= link_to "<i class='fa fa-2x fa-heart'></i>".html_safe, "#" %>
        <%= link_to "<i class='fa fa-2x fa-bomb'></i>".html_safe, "#" %>
      </div>
      <div class="panel-group panel-group-comments">
        <div class="panel-heading panel-heading-inverse">
          <%= render partial: 'comments/form', locals: {post: post} %>
        </div>
        <div class="panel-body panel-body-inverse">
          actual comments (only newest comment will go here)
        </div>
        <div class="panel-footer panel-footer-inverse">
          "read more" link here
        </div>
      </div>

  </div>

</div>


<div class="modal fade" id='<%= "myModal_#{post.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render partial: 'posts/edit', locals: {post: post}%>
</div>
