<div class="row">
  <div class="col-md-offset-1">
    <div class="panel panel-inverse">
      <%= placeholdit_image_tag "100" %>
      <div clas="panel-heading">
        <%= post.user.username %> posted this <%= time_ago_in_words(post.created_at) %> ago
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-cog"></i></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit Post", "#", "data-target": "#myModal_#{post.id}", "data-toggle": "modal" %></li>
            <li><%= link_to "Delete Post", user_post_path(post.user, post), method: :delete, class: 'navbar-link', data: {confirm: "Are you sure?"} %></li>
          </ul>
        </div>
      </div>
      <div class="panel-body panel-body-inverse">
        <%= post.body %>
      </div>
    </div>
    <div class="panel-footer panel-footer-inverse">
      <p>
        Like Dislike
      </p>
    </div>
  </div>


</div>
<div class="modal fade" id='<%= "myModal_#{post.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render partial: 'posts/edit', locals: {post: post}%>
</div>
